.navbar {
    padding: .5rem 1rem;
    padding-top: 0rem;
    padding-right: 1rem;
    padding-bottom: 0rem;
    padding-left: 1rem;
}

#logo {
  height: 75px;
}

.nav-item:hover,
.logo:hover {
  cursor: pointer;
}
