.navbar {
padding: .5rem 1rem;
padding-top: 0rem;
padding-right: 1rem;
padding-bottom: 0rem;
padding-left: 1rem;
}

#logo {
height: 75px;
}

.nav-item:hover,
.logo:hover {
cursor: pointer;
}


.carousel-item {
    height: calc(100vh - 80px)
}

body {
    font-family: "Raleway", sans-serif;

}

html {
  font-family: "Raleway", sans-serif;
}

#Resume {
  background-color: black;
  color: white;
}

.parallax {
  /* The image used */
  background-image: url("img/intro.png");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
